.task {
    background-color: #e8e8e8;
    padding: 24px 45px;
}

p.message{
	font-family: Georgia, serif;
	font-size: 16px;
	letter-spacing: 0.6px;
	word-spacing: -0px;
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	text-transform: none;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

form {
    font-family: 'Lato', sans-serif;
    height: auto !important;
}

/* Hide the browser's default radio button */
form input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  /*top: 0;*/
  /*left: 0;*/
  height: 22px;
  width: 22px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.input-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.input-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.input-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.input-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}